body{
    background-color: aqua;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;              
  padding: 30px 0;
  gap: 20px;
  background-color: azure;
  margin: 0;                
  box-sizing: border-box;
}

#item-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-color: aliceblue;
}

h2{
    text-align: center;
}

#item-detail{
    display: flex;
    flex-direction: column;
    text-align: center;
}